/* General styling */

body {
  font-family: "Orbitron", sans-serif;
  background-color: #0d0d1b;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* Main container for content */
.container {
  max-width: 800px;
  background-color: #1e1e2c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px #ff7700;
  text-align: center;
}

/* Title */

h1 {
  color: #ff7700;
}

/* Button styles */

.button {
  display: inline-block;
  padding: 15px 30px;
  margin: 10px;
  background-color: #ff7700;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3 ease;
}

.button:hover {
  background-color: #ff5500;
  transform: scale(1.05);
}

/* Paper content styling */

.paper-content {
  background-color: #1e1e2c;
  color: #333;
  padding: 40px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.paper-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.paper-content iframe {
  border: 5px solid #ff7700;
  border-radius: 15px;
}

/* Code block styling */

.code-block {
  background-color: #1e1e2c;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  font-family: monospace;
  height: 600px;
  color: white;
}

/* Footer */

.footer {
  text-align: center;
  font-size: 1em;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}
